/* .aboutmeContainer {
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
    padding-left: clamp(20px, 8vw, 160px);
    padding-right: clamp(20px, 8vw, 160px);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    opacity: 1;
} */



.aboutmeContent {
    width: 100%;
    height: fit-content;
    min-height: calc(100vh);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 112px;

}

.textContainer {
    width: 100%;
    max-width: 960px;
    height: fit-content;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 56px;

}

.headerlineText p {
    font-size: 18px;
}

.softskills {
    display: flex;
    gap: 56px;

}

.softskillsCardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 56px;


}

.softskillsCard {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 16px;

    box-sizing: border-box;

}

.softskillsCardTitle {
    display: flex;
    gap: 16px;
    align-items: flex-end;
}

.softskillsCard img {
    width: 60px;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px;
}



.softskillsCardTitle h3 {
    font-size: 20px;
    margin: 0;
}

.btnContainer {
    width: 100%;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}


.profilePhotoContainer {
    width: 100%;
    max-width: 960px;
    min-width: fit-content;
    height: 100%;


}

.profilePhotoContainer img {
    width: auto;
    height: 100%;
}

.imageContainer {
    width: 100%;
    height: 100%;
    background-image: url(./../img/2025-04-14_11-48-45_06-removebg.webp);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}



@media(max-width: 1800px) {

    /* .aboutmeContainer{
    max-width: 1440px;
} */
    .headerlineText p {
        font-size: 16px;
    }

}

@media(max-width: 1400px) {
    .textContainer {
        max-width: 500px;

    }
.softskills{
    flex-direction: column;
}
}


@media(max-width: 1025px) {

    .aboutmeContent {
        flex-direction: column;
        align-items: center;
    }



    .textContainer {
        margin-top: 0;
    }


    .aboutmeContent {
        height: unset;
    }

    .profilePhotoContainer {
        width: calc(100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 320px);
    }

    .profilePhotoContainer img {
        width: 100%;

    }

    .hideResp {
        display: none;
    }

    .btnContainer {
        align-items: center;
        text-align: center;
    }

    .btnContainer button {
        width: 100%;
    }

}

@media(min-width: 1025px) {
    .hide {
        display: none !important;
    }
}

@media(max-width: 720px) {
    .btnContainer {
        flex-direction: column;
    }


}

@media(max-width: 570px) {
    .softskills {
        flex-direction: column;
        align-items: center;

    }

 

    .textContainer {
        align-items: center;
    }

   
}

@media(max-width: 460px) {
    /* .aboutmeContainer {
          padding: 20px calc(100vw/10);
    } */


}



@media(max-height: 470px) {
    /* .textContainer {
        margin-top: 60px;
    }

    .btnContainer {
        margin-top: 60px;
    } */

    .profilePhotoContainer {
        height: 500px;
    }

}