.aboutmeContainer {
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
    padding: 0 56px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    animation: show-content 3s ease;
    opacity: 1;
}

@keyframes show-content {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.aboutmeHeadlineContainer {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


}

.textContainer {
    width: 100%;
    max-width: 960px;
    margin-top: 112px;
    display: flex;
    flex-direction: column;
}


.aboutmeHeadline {
    width: 100%;

}

.aboutmeHeadline h1 {
    font-size: 72px;
    font-weight: 500;
    margin-block: 0;
}

.aboutmeHeadline p {
    font-size: 28px;
    margin-block: 0;
}

.headerlineText {
    margin-top: 50px;
    width: 100%;
    max-width: 770px;
    display: flex;
    justify-content: flex-start;
}

.headerlineText p{
    font-size: 18px;
}

.btnContainer {
    margin-top: 120px;
    margin-bottom: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.profilePhoto {
    width: 100%;
    max-width: 960px;
    min-width: fit-content;
    height: 100%;
    /* background-image: url(./../img/2025-04-14_11-48-45_06-removebg.webp);
    background-size: cover;
    background-position: center; */
}

.profilePhoto img {
    width: auto;
    height: 100%;
}

@media(max-width: 1690px) {
    .aboutmeHeadline h1 {
        font-size: 56px;
    }

    .aboutmeHeadline p {
        font-size: 20px;
    }

    .aboutmeHeadline span {
        font-size: 16px;
    }
}


@media(max-width: 1520px) {
    .aboutmeHeadline h1 {
        font-size: 48px;
    }

    .aboutmeHeadline p {
        font-size: 18px;
    }

    .aboutmeHeadline span {
        font-size: 16px;
    }
}

@media(max-width: 1520px) {
    .aboutmeHeadline h1 {
        font-size: 40px;
    }

    .aboutmeHeadline p {
        font-size: 16px;
    }

    .aboutmeHeadline span {
        font-size: 14px;
    }


    .btnContainer button {
        width: 200px;
    }
    .headerlineText p{
        font-size: 16px;
    }

}

@media(max-width: 1180px) {
    .aboutmeHeadline h1 {
        font-size: 32px;
    }

    .aboutmeHeadline p {
        font-size: 14px;
    }

    .aboutmeHeadline span {
        font-size: 12px;
    }

    .btnContainer button {
        width: 180px;
    }


}

@media(max-width: 1025px) {
    .aboutmeHeadline h1 {
        font-size: 48px;
    }

    .aboutmeHeadline p {
        font-size: 16px;
    }

    .aboutmeHeadline span {
        font-size: 16px;
    }

    .textContainer {
        display: none;
    }

    .aboutmeHeadlineContainer {
        height: unset;
    }

    .profilePhoto {
        margin-top: 20px;
        width: calc(100% - 40px);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profilePhoto img {
        width: 100%;
        height: auto;
    }

    .aboutmeHeadline {
        width: fit-content;
    }

    .btnContainer button {
        width: 140px;
        font-size: 16px;
        height: 40px;
    }
}

@media(min-width: 1025px) {
    .hide {
        display: none;
    }
}

@media(max-width: 600px) {
    .aboutmeHeadline h1 {
        font-size: 32px;
    }

    .aboutmeHeadline p {
        font-size: 12px;
    }

    .aboutmeHeadline span {
        font-size: 12px;
    }

}


@media(max-width: 460px) {
    .aboutmeContainer {
        padding: 20px;
    }

    .aboutmeHeadline p {
        font-size: 14px;
    }
}

@media(max-width: 400px) {
    .aboutmeHeadline h1 {
        font-size: 28px;
    }

    .aboutmeHeadline p {
        font-size: 12px;
    }

    .aboutmeHeadline span {
        font-size: 12px;
    }
}

@media(max-height: 830px) {
    .textContainer {
        margin-top: 60px;
    }

    .btnContainer {
        margin-top: 60px;
    }



}