.offerHeadBanner{
    width: 100vw;
    min-height: 120px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 10px 10px 0px var(--border-color);
}

.offerHeadBanner-content{
    width: calc(100vw - 112px);
}

.offerHeadBanner h1{
    font-weight: 500;
}

.offer-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100vw - 112px);
    max-width: 1920px;
    padding: 56px;
    flex: 1;
}

.offer-description-headline h1 {
    font-size: 72px;
    font-weight: 500;
    margin: 0;
}

.offer-description-headline p {
    margin: 0;
}

.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    gap: 50px;

}

.offer-headline {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.offer-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 50px;
}

.offer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;

}

.lead-information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lead-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    gap: 24px;
}

.lead-information p {
    margin: 0;
    margin-bottom: 8px;
}

.section-headline {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-headline h2 {
    font-weight: 500;
}



.packages {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
cursor: pointer;
}

.overlayButtons {
    width: calc(100% - 112px);
    max-width: 600px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.overlayButtons button {
    width: 100px;
}

.forwardButton{
    width:250px !important;
}

.pack {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 260px;
    height: 350px;
    padding: 20px;
    box-shadow: 4px 4px 10px 1px var(--border-color);

    border-radius: 12px;
    transition: transform 0.2s ease-in-out;
    animation: services 1s ease;
}

.pack-highlight {
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.473) !important;

}

.packbutton-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}


.packbutton-container button {

    width: 50px;
    height: 50px;
}

.pack-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pack-description h2 {
    font-weight: 500;
}



.servicelist {

    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.servicelist-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.servicelist-row p {
    margin: 0;
}

.servicelist-row img {
    width: 10px;
}

.pack:hover {
    transform: scale(1.03);

}

.extras {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.services {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-shadow: 4px 4px 10px 1px var(--border-color);
    border-radius: 12px;
    padding: 20px;
    transition: transform 0.2s ease;
    animation: services 1s ease;
    cursor: pointer;
}

.services h3 {
    font-weight: 500;
}


.services button {
    width: 50px;
    height: 50px;
}

.extra-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.services:hover {
    transform: scale(1.03);
}

.services:active {
    transform: scale(0.99);
}

@keyframes services {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.middline {

    height: 100%;
    border: solid;
    color: #0c7b26;
    ;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}


.cart-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 5px;


}

.cart-choice {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cart-choice h2 {
    font-weight: 500;
}

.choice {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.choice-content {
    position: relative;
    min-width: 300px;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 4px 4px 10px 1px var(--border-color);
    border-radius: 12px;
    gap: 10px;
    
}

.choice-content p {
    margin: 0;
}

.choice-content h4 {
    margin: 0;
    font-weight: 500;
}

.choice-content-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.choice-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deletebuttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;

}
.deletebutton {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.offerbutton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.privacyContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@media(max-width: 750px) {
    .choice-content {
        max-width: 295px;
        min-width: unset;
    }
}

@media(max-width: 670px) {

    .packagesOverlay {
        top: 60px;
    }
}

@media(max-width: 500px) {
    .offer-center {
        width: calc(100vw - 40px);
        padding: 20px;
    }

    .lead-information-container {
        justify-content: center;
    }

    .packages {
        justify-content: center;
    }

    .extras {
        justify-content: center;
    }
}