footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: transparent;
    border-top: solid;
    border-width: 1px;
    border-color: #e4e4e4d7;
}

.footer-content {
    display: flex;
justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1920px;
    gap: 56px;
    box-sizing: border-box;
    padding:  24px 56px;
    border-radius: 12px;
}


.footerContainerLeft{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}
.footerContainerMid{
    width: 100%;
   height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.footerContainerRight{
width: 100%;
min-width: fit-content;
height: fit-content;
display: flex;
flex-direction: column;
align-items: flex-end;
gap: 24px;
}

.footerNavBar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.footerNavBarDivider{
    width: 4px;
    height: 8px;
    background-color: var(--main-color);
    border-radius: 2px;
}
.footerContactContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footerPhoneLink{
    width: fit-content;
font-size: clamp(1rem, 4vw, 1.4rem);
    gap: 8px;
}

.footerPhoneLink img{
width: 30px;
}

.footerContactInfos{
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;

}

/* .footerMailLink{
    display: flex;

}

.footerMailLink img{
width: 20px;
} */
.front-footer {
    /* background-color: rgba(0, 0, 0, 0.332); */
    background-color: black;
    border: none;
}

.front-footer .footerPhoneLink img{
    content: url(./../icons/sidebar/phone.svg);
}

.front-footer a {
    color: white !important;
}

.front-footer span{
    color: white;
}

.front-footer a:hover {
    color: var(--secondary-color) !important;
}

.front-footer p {
    color: white;

}

.footer-content a {
    display: flex;
    align-items: center;
    color: black
}

.footer-content a:hover {
    color: var(--main-color) !important;

}


.socialmedialinks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.socialmedialinks img {
    width: 30px;
    height: 30px;
}


.socialmedialinks img:hover {
    transform: scale(1.1);
}

.legal {
    display: flex;
    gap: 20px;
}

@media (max-width: 1150px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 24px;

    }

    .footerContactContainer{
        width: fit-content;
    }

    .footerContainerLeft,.footerContainerMid,.footerContainerRight{
        align-items: center;
    }

    .footer-logo img {
        width: 40px;
    }

    footer {
        padding-block: 10px;
    }

    .footer-content p {
        margin: 0;
        text-align: center;
    }

    .footer-content a {
        text-align: center;
    }
}

@media (max-width: 800px) {
    .footerContactInfos{
        flex-direction: column;
    }
}


@media (max-width: 550px) {
    .legal {

        gap: 10px;
    }

    .footer-logo img {
        width: 40px;
    }
    .footerContactLink{
        font-size: 16px;
    }

    .footerContactLink img{
        width: 20px;
    }
.footerNavBar{
    flex-direction: column;
    gap: 4px;
}
.footerNavBarDivider{
    width: 8px;
    height: 4px;
}
}










