.body-back {
    background-image: url(/img/frontsite.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw !important;
}

.body-cover {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.245);
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    max-width: 1920px;
    font-size: 48px;
    color: white;
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    box-sizing: border-box;
    padding: 16px 64px;
}

.headline h1 {
    font-size: 72px;
    font-weight: 700;
    margin-block: 0;
}

.headline h5 {
    font-size: 24px;
    font-weight: 500;
    margin-block: 0;
}

.landing-text {
    margin-bottom: 100px;
}

.landing-text p {
    font-size: 24px;
    color: #5B5B5B;

}










.hideheadline {
    animation: hideHeadline 1s ease;
    opacity: 0;
}

.landingpageContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 144px 72px;

}

.landingpageBtn {
    width: 100%;
    box-sizing: border-box;
    padding: 0 64px;
}

.landingpageBtn button {
    max-width: 360px !important;
    height: 100px;
    background-color: rgba(0, 145, 255, 0.384);
    backdrop-filter: blur(10px);
    font-size: 16px;
    transition: transform 0.5s ease-in-out !important;
}

.landingpageBtn button:hover {
    transform: scale(1.05);
    border: none;
    color: white;
}

@keyframes hideHeadline {
    0% {
        opacity: 1;

    }

    100% {
        opacity: 0;
    }
}

.showheadline {
    animation: showHeadline 1s ease;
    opacity: 1;
}

@keyframes showHeadline {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}



@media (max-width: 1130px) {



    .headline h1 {
        font-size: 48px;
    }

    .landing-text p {
        font-size: 18px;
    }
}

@media (max-width: 1000px) {
    .headline {
        width: 100%;
        align-items: center;
        padding: 0;
    }

    .headline h1 {
        padding: 0 20px;
    }

    .landing-text {
        padding: 0 20px;
    }

}

@media (max-width: 750px) {
    .headline h1 {
        font-size: 28px;
    }

}

@media (max-width: 550px) {
    .headline h1 {
        font-size: 20px;
    }

    .headline h5 {
        font-size: 16px;
    }
}

@media (max-height: 450px) {
    .headline h1 {
        font-size: 28px;
    }

}