.offer-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.offer-input{
    display: flex;
    flex-direction: column;
}

.offer-checkbox{
    display: flex;
    align-items: center;
    gap: 12px;
}

.offer-checkbox-container{
display: flex;
align-items: center;
gap: 50px;
}