.projectsContent {
    width: 100%;
    max-width: 1920px;
    flex: 1;
    box-sizing: border-box;
    padding: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.projectsHeadlineContainer {
    width: 100%;
}

.projectsHeadline {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.projectsHeadline p,
h1 {
    margin: 0;
}

.projectsHeadline h1 {
    font-size: 72px;
    font-weight: 600;
}

.projects {
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.projectList {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.projectCard {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.projectCard img {
    width: 400px;
    height: 300px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    /* border: solid;
border-width: 0.5px;
border-color: var(--main-color); */
    border-radius: 30px;
    
}

.projectCard:active{
    transform: scale(0.95);
}