.projectsContent {
    width: 100%;
    max-width: 1920px;
    flex: 1;
    box-sizing: border-box;
    padding: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.projectsHeadlineContainer {
    width: 100%;
}

.projectsHeadline {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.projectsHeadline p,
h1 {
    margin: 0;
}

.projectsHeadline h1 {
    font-size: 72px;
    font-weight: 600;
}

.projects {
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.projectList {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.projectCard {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.projectCard img {
    width: 400px;
    height: 300px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    /* border: solid;
border-width: 0.5px;
border-color: var(--main-color); */
    border-radius: 30px;

}

.projectCard:active {
    transform: scale(0.95);
}

.projectsOverlay {
    /* display: none; */
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.811); */
    background-color: rgba(255, 255, 255, 0.789);
    z-index: 11;
}

.projectsOverlay button {
    position: absolute;
    top: 56px;
    right: 56px;
    width: 50px;
    height: 50px;
}

.dnone {
    display: none;
}

.viewContainer {
    width: 1200px;
    height: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.viewContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 30px;
    box-sizing: border-box;
    padding: 56px;
}

.projectImage {
    min-width: 700px;
    max-width: 700px;
    max-height: 500px;
    min-height: 500px;
    border-radius: 30px;

}

.projectDetails {
    width: 300px;

    padding: 25px 56px;
    border-radius: 30px;
    color: white;
}

.stack img {
    width: 40px !important;

}

.btnContainer {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 224px;
    background-color: rgba(0, 0, 0, 0.795);
    box-sizing: border-box;
    padding: 25px 56px;
    border-radius: 30px;
}

.btnContainer button {
    position: static;
}