.services {
    width: 100%;
    max-width: 1920px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    gap: 24px;
    box-sizing: border-box;
    padding: 56px;
    position: relative;

}



.service-headline {
    width: fit-content;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
    border-radius: 30px;
    box-sizing: border-box;
    padding: 56px;
}

.service-headline h1 {
    font-size: 72px;
    font-weight: 500;
    margin-block: 0;
}

.service-headline p {
    margin-block: 0;
}

.mainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2); */
    border-radius: 30px;
    box-sizing: border-box;
    padding: 56px;
    transition: box-shadow 0.5s ease-in-out;
    gap: 56px;
    position: relative;
}


.mainContentFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-width: 0.3px;
    border-color: var(--main-color);
    border-radius: 30px;
    box-sizing: border-box;
    padding: 20px;
}



.textContainer {
    width: 100%;
    max-width: 710px;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 25px 56px;


    border-radius: 30px;
    /* animation: slide 1.5s ease-in-out; */
    background-color: white;


}



/* @keyframes slide {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }


} */





.textContainer span {
    font-size: 20px;
}

.btnContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 56px;
    border-radius: 30px;
    /* box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); */
    transform: translateX(200%);
    background-color: rgba(255, 255, 255, 0.701);
    transition: transform 1s ease-in-out;

}

.btnHighlight {


    transform: translateX(0);

}

.btnContainer span {
    font-size: 20px;

}

.dividerContainer {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.divider {
    width: 90%;
    height: 2px;
    background-color: var(--main-color);
    border-radius: 30px;
    transition: background-color 0.8s ease-in-out, height 0.8s ease-in-out, width 0.8s ease-in-out;
}


.footerDivider {

    border-radius: 30px;
    transition: background-color 0.8s ease-in-out, height 0.8s ease-in-out, width 0.8s ease-in-out;
}

.services-content {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;


}

.serviceContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;

    box-sizing: border-box;


}

.serviceCard {

    width: 280px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 24px;
    border-radius: 30px;
    transition: box-shadow 0.5s ease-in-out, transform 0.3s ease-in-out;
    border: solid;
    border-width: 0.3px;
    border-color: var(--main-color);
}

.serviceCard:hover {
    transform: scale(1.05);

}

.serviceCard h3 {
    width: 100%;
    text-align: center;
    font-weight: 400;
}

.serviceCard span {
    text-align: center;
}

.serviceCard img {
    width: 60px;
    height: 60px;
}


@media(max-width: 1390px) {
    .service-headline h1 {
        font-size: 64px;
    }

    .service-headline p {
        font-size: 16px;
    }

    .serviceCard {
        width: 240px;
        height: 260px;
    }

    .serviceCard img {
        width: 50px;
    }

    .serviceCard h3 {
        font-size: 16px;
    }

    .serviceCard span {
        font-size: 14px;
    }

    .textContainer span {
        font-size: 18px;
    }


    .btnContainer button {
        font-size: 16px;
    }

    .mainContent {
        padding: 20px 0px;
    }
}

@media(max-width: 1050px) {
    .service-headline h1 {
        font-size: 56px;
    }


    .textContainer span {
        font-size: 16px;
    }

    .btnContainer {
        flex-direction: column;
    }

    .btnContainer button {
        font-size: 16px;
    }

    .services {
        padding: 30px;
    }

}

@media(max-width: 800px) {
    .mainContentFooter {
        flex-direction: column;
    }
.footerDivider{
   width: 100%;
   height: 6px;
}

}

@media(max-width: 660px) {
    .service-headline{
        padding: 10px;
    }
    .service-headline h1{
        font-size: 40px;
    }

    .service-headline p{
        font-size: 14px;
    }
    .mainContentFooter{
        gap: 20px;
    }
    .textContainer {
        padding: 10px;
    }
.btnContainer{
    padding: 10px;
}
.btnContainer button{
    width: 200px;
}
.btnContainer span{
    font-size: 16px;
}

}

@media(max-width: 440px) {
    .service-headline h1{
        font-size: 32px;
    }
    .service-headline p{
        font-size: 14px;
    }
}

@media(max-width: 370px) {
    .service-headline h1{
        font-size: 28px;
    }
    .service-headline p{
        font-size: 12px;
    }
}


/* 
.service-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.type-of-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 280px;
    padding: 20px;
    border-radius: 12px;
    border-color: rgba(128, 128, 128, 0.1);
    animation: showcontent 1s ease-in;
    transition: transform 0.5s ease-in-out;
    color: white;

}

.web {
    background-image: url(/img/web.jpg);
    background-size: cover;
    background-position: center;
}

.domain {
    background-image: url(/img/host.jpg);
    background-size: cover;
    background-position: center;
}

.support {
    background-image: url(/img/support.jpg);
    background-size: cover;
    background-position: center;
}




.type-of-services:hover {
    transform: scale(1.05);
    transition: 0.5s;


}

.type-of-services:active {
    transform: scale(0.8);
}


.type-of-services img {
    width: 50px;
    height: 50px;

}

.type-of-services p {

    font-size: 20px;
    text-align: center;
    margin-block: 0;
}

.type-of-services h3 {

    margin-top: 24px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

@keyframes showcontent {
    0% {
        transform: scale(0.3);
     
    }

    100% {
      
    }
}

.service-description-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}

.service-description {
    width: calc(100% - 112px);
    max-width: 1440px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-block: 50px;
    gap: 50px;
    padding: 0 56px;
    animation: description 1s ease-in;
}

@keyframes description {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.description-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 50px;

}



.content-headline {
    width: 100%;
    height: 300px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 100px;
    font-size: 40px;
   animation: description 1s ease-in;
}




@keyframes headline {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }

}

.support-bg {
    background-image: url(/img/support.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

}

.hosting-bg {
    background-image: url(/img/host.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

}

.web-bg {

    background-image: url(/img/web.jpg);
    background-size: cover;
    background-position: center;
}


.service-description-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    width: 100%;

}

.service-description h3 {
    font-size: 48px;
    text-align: center;
    font-weight: 300;
}

.description {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;

    transition: opacity 1s, transform 1s ease-in-out;
    background-color: rgba(128, 128, 128, 0.05);
    border-radius: 12px;

}



.description-inner {

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #00549088;
    padding: 20px;
    border-radius: 12px;
    gap: 20px;
}

background-color: 
#921203;

#B72D5C
background-color: #005490b2;

.description.slidein {
    transform: translateX(0);
    opacity: 1;
}

.right {
    justify-content: flex-end;
    transform: translateX(-100vw);
}

.left {
    transform: translateX(100vw);
    justify-content: flex-start;
}

.description p,
h4 {
    margin-block: 0;


}

.description h4 {

    font-size: 24px;

}


.description p {
    font-size: 20px;
}

.service-footerlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-block: 50px;
    animation: description 1s ease-in;
}


.service-footerlinks a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 12px;
    background-color: rgba(128, 128, 128, 0.124);

    transition: transform 0.3s ease-in-out;
}

.service-footerlinks a:hover {
    transform: translateY(-10%);
}

.service-footerlinks a:active {
    transform: scale(0.8);
}

.service-footerlinks img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

}

.footer-hide {

    animation: description 10s ease;
}

.scale {
    transform: scale(1.3);

}

.animate {
    transform: translateY(100px);
    transition: transform 1s ease-out;
}



@media(max-width: 1550px) {

    .type-of-services {
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 200px;
    }


    .type-of-services h3 {
        font-size: 32px;
    }
}

@media(max-width: 1200px) {
    .description-row {
        flex-direction: column;
        gap: 30px;
    }

    .service-description-content {
        gap: 30px;
    }

    .description {
        align-items: center;
        text-align: center;
    }
}

@media(max-width:860px) {
    .services-content {
        flex-direction: row;
    }

    .service-row {
        flex-direction: column;
    }

}

@media(max-height: 1200px) {

    .services-content {
        gap: 30px;
    }

    .service-row {
        gap: 30px;
    }


}

@media(max-width:950px) {
    .content-headline h1 {
        font-size: 32px;
    }

}

@media(max-width:800px) {
    .service-footerlinks {
        gap: 8px;
        margin-block: 20px;
    }

    .service-description-content {
        margin-top: 50px;
    }

    .service-description {

        text-align: center;
        gap: 0;
    }

    .service-description img {
        width: 100px;
    }

    .service-footerlinks a {
        width: 50px;
        height: 50px;

    }

    .service-footerlinks img {
        width: 20px;
        height: 20px;
    }
}

@media(max-width:680px) {

    .services {
        gap: 10px;

    }

    .service-headline h1 {
        font-size: 32px;
        margin-block: 10px;
    }


    .type-of-services {
        width: 300px;
        height: 120px;
    }

    .type-of-services h3 {
        font-size: 24px;
    }

    .type-of-services a {
        width: 30px;
    }

    .type-of-services img {
        width: 36px;
    }

    .service-row {
        gap: 10px;
    }

    .services-content {
        gap: 10px;
    }

    .description p {
        font-size: 18px;
    }
}

@media(max-width:680px) {
    .services {
        width: calc(100vw - 20px);
        padding: 56px 10px;
        gap: 20px;
    }

    .service-description {
        width: calc(100vw - 20px);
        padding: 0 10px;
    }

}

@media(max-width:600px) {
    .description h4 {
        font-size: 18px;
    }

    .service-description h3 {
        font-size: 32px;
    }
}


@media(max-width:550px) {

    .content-headline {
        justify-content: center;
        padding-left: 0;
    }

    .content-headline h1 {
        font-size: 24px;

    }
}

@media(max-width:350px) {

    .content-headline h1 {
        font-size: 20px;

    }
} */