.sidebar {
    position: fixed;
    right: 4px;
    top: 50%;
    transform: translate(calc(100% - 56px), -50%);
    display: flex;
    flex-direction: column;
    gap: 2px;
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}

.sidebarContainer {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    transition: transform 0.5s ease-in-out, border-color 0.5s ease-in-out;
    /* background-color: rgba(0, 0, 0, 0.091); */
    background-color: rgba(255, 255, 255, 0.208);
    backdrop-filter: blur(5px);
    border-radius: 10px;
   border: solid 0.5px white;



}

.sidebarContainer button {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarSocialmediaLink {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarSocialmediaLink img {
    width: 32px;
    height: 32px;
}

.sidebarOpenBtn {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 1s ease-in-out, opacity 0.6s ease-in-out;
    z-index: 1;
}

.sidebarOpenBtn button {
    width: 10px !important;
    height: fit-content;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 40px 12px ;
}

.sidebarOpenBtn button img {
    width: 20px;
}

.sidebarOpenBtn button:hover {
    background-color: var(--main-color);
    border: none;
}

.showSidebar {
    transform: translate(calc(100% - 56px), -50%) !important;
}

.slideSidebarBtn {
    opacity: 0;
    transform: translateX(100%, -50%);
}

.socialmedia {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
    padding: 0 16px;
}

.socialmedia button {
    background-color: transparent;
    width: 40px;
    height: 40px;
}

.socialmedia button:hover {
    border: solid;
}

.socialmedia button img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}


.moveSidebar {
    transform: translateX(calc(-100% + 56px)) !important;
     border: solid 0.5px var(--main-color);
   
}

.sidebarLink {
    color: var(--primary);
    box-sizing: border-box;
    padding: 0 16px;
}

.sidebarLink:hover {
    color: var(--highlight);
}

.languages {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    box-sizing: border-box;
    padding: 0 16px;
}

.languages button {
    width: 96px;
    height: 56px;
    border-radius: 0;
    background-color: transparent;
    color: var(--primary);
    font-size: 16px;
}

.languages button:hover {
    color: var(--highlight);
}



.btnDivider {

    width: 1px;
    background-color: var(--primary);
}


.sidebarContainer button:hover .phone {
    content: url(../icons/sidebar/phone_petrol.svg);
}

.sidebarContainer button:hover .mail {
    content: url(../icons/sidebar/mail_petrol.svg);
}

.sidebarContainer button:hover .social {
    content: url(../icons/sidebar/socialmedia_petrol.svg);
}

.sidebarContainer button:hover .arrow_up {
    content: url(../icons/sidebar/arrow_up_petrol.svg);
}

@media(max-width:1050px) {
    .sidebarContainer button {
        width: 40px;
        height: 40px;
    }
    .sidebarContainer button img {
    width: 20px;
}

    .sidebar {
        transform: translate(calc(100% - 40px), -50%);
    }

    .showSidebar {
        transform: translate(calc(100% - 40px), -50%) !important;
    }

    .moveSidebar {
        transform: translateX(calc(-100% + 40px)) !important;
    }
}

@media(max-width:850px) {
    .sidebar {
        transform: translate(calc(100% + 60px), -50%);
    }

}

@media(min-width:850px) {
    .sidebarOpenBtn {
        display: none;
    }
}