.mainHeadlineContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.mainHeadline {
    width: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-sizing: border-box;

}

.mainHeadline h1 {
    font-size: clamp(1.7rem, 4vw, 4.5rem);
    font-weight: 500;
    margin-block: 0;
}

.mainHeadline p {
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    margin-block: 0;
}

.dividerContainer {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.divider {
    width: 25%;
    height: 4px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    transition: background-color 0.8s ease-in-out, height 0.8s ease-in-out,
        width 0.8s ease-in-out;
    animation: divide 0.8s ease-in-out forwards;
}

@keyframes divide {
    0% {

        width: 25x;

    }

    100% {

        width: 90%;

    }
}

.center {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    flex: 1;
    max-width: 1920px;



}

/* .startBtnContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 56px;
}

.startBtnContainer button {
    width: 250px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.188);
    backdrop-filter: blur(10px);

} */



/* .portrait {
    width: 50%;
    height: 100%;
    min-height: 100vh;
    border-radius: 30px;
    background-image: url(/img/portrait-sw.jpg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;

} */



/* .welcome {
    text-align: left;
    font-size: 20px;
    width: 40%;
    margin-left: 260px;
    border: solid;
    border-radius: 24px;
    border-width: 3px;
    border-color: #5B5B5B;

    margin-top: 100px;
} */

/* .welcome p {

    padding: 12px;
} */






@media(max-width: 1025px) {
    .aboutmeMainHeadline {
        text-align: center;
        justify-content: center !important;
    }
}

@media (max-width: 1000px) {
    .center {
        align-items: flex-start;
        justify-content: center;
    }

    .portrait {
        height: fit-content;
        min-height: unset;
        aspect-ratio: 1/1;
        width: 100%;
    }

    @keyframes divide {
        0% {

            width: 25x;

        }

        100% {

            width: 100%;

        }
    }
}


@media(max-width: 1030px) {
    .skillMainHeadline {
        justify-content: center !important;
        text-align: center;
    }
}


@media (max-width: 750px) {

    /* .logo {
        width: 300px;
        font-size: 20px;
        gap: 8px;
    }

    .logo img {
        width: 200px;

    } */

    .serviceMainHeadline {
        justify-content: center !important;
        text-align: center;
    }

    .projectMainHeadline {
        justify-content: center !important;
        text-align: center;
    }
}


/* @media (max-width: 670px) {
    .contactBar {
        top: 64px;
    }
} */

@media (max-width: 660px) {
    .mainHeadline {
        text-align: center;
        padding: 10px;
    }
}


@media (max-width: 550px) {
    .headline h1 {
        font-size: 20px;

    }

    .headline h5 {
        font-size: 16px;

    }

    .legal {

        gap: 10px;
    }


}
